<ul class="scroll-x unstyledList breadcrumbs">
  {% for breadcrumb in breadcrumbs %}
  <li>
    {% if loop.last == false  %}
      <a title="{{ breadcrumb.text }}" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
    {% else %}
      <span>{{ breadcrumb.text }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>